footer {
    background-color: #052d44;
    color: white;
  }
footer a {
    color: white;
  }
footer a:hover {
    color: #fec309;
  }
footer h5, footer h6 {
    color: #fec309;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 15px;
  }
  
footer .logo {
    img {
      width: 50%;
    }
}

a{
    text-decoration: none;
}
