.formcontainer{
    margin: 0;
	height: 100%;
	padding: 1em;
	@media screen and (min-width: 768px) {
		padding: 1em;
	} 
    &__newform{
        background-color: white;
	    @media screen and (min-width: 768px) {
		padding: 2.5em;
	    }
        label {
            text-transform: uppercase;
            display: block;
            margin-bottom: 5px;
            font-weight: 550;
            font-size:.75em;
            letter-spacing: 2px;
            width: 100%;
            margin-bottom: 8px;
            color: #444

        }
        input, select, textarea {
            width: 100%;
            padding: 10px;
            background: #ebeaea;
            color: #333;
            border: none;
            outline: none;
            box-shadow: none;
            margin-bottom: 20px;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }
}
.textarea-div {
	width: 100%;
}
@media screen and (min-width: 700px) {
	.largegroup {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	.smallgroup {
		width: 45%;
	}
}

.newtrucksubmit{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 2.5em;
    background-color: #fec309;
    border-radius: 1em;
    padding: 0 3em;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #031a25;
    border: 4px solid #031a25;
    font-weight: 900;
        &:hover{
            background-color: #031a25;
            color: #fec309;
            border: 4px solid #fec309;
        }
}

.addtruckimg {
    width: auto;
    height: 300px;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 25%;
    align-self:center;
    z-index: -1; /* Ensure the image is behind the form content */
  }