.logInOverLay{
    margin: 10px 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightGrey; 
}

.addreview {
padding: 15px;
}