.truckindex{
    text-align: center;
    
}
.wrapper{
    margin: 10vh;
}

.backgroundimg{
    background: #052d44;
    border: none;
    color: #FFFFFF;
    margin-bottom:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    transition: .3s;
    overflow: hidden;
    border-radius:10px;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    min-height:350px;

    transition: transform 3s ease;
    -webkit-transition: all 0.3s ease-in-out;
    
    @media (max-width: 768px){
        min-height:350px;
    }
      
    @media (max-width: 420px) {
        min-height:300px;
    }

    &:hover{
        transform: scale(0.98);
        transition: all .3s linear;
    }
    &__trucktitle {
        margin-top:80px;
        font-size: 32px;
        font-weight: 600;
    
    }

}

.borough-tag {
    position: absolute;
    top: 30px;
    right: -60px;
    transform: rotate(-315deg);
    background-color: #fec309;
    color: #031a25;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
  }

.card-img-overlay {
    background: linear-gradient(0deg, rgba(34, 32, 32, 0.5) 25%, rgb(57, 59, 65) 100%);
}
  
  
.card-img-overlay:hover {
    margin-top:10px;
    transition: all .3s linear;
    background: none;
    color: white;
    cursor: pointer;
    
}
   

  