.aboutThisTruck{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-height: 550px;
    @media (max-width: 500px) {
        flex-direction: column;
        max-height:900px;

    }
    &__imgctr{
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        position:relative;
        overflow: hidden;
        &__imgAttr{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
            position:relative;
         }
         @media(max-width: 500px){
            width: 100%;
            height:100%;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
        }
        }
    &__right{
        width: 50%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(233, 222, 222);
        @media (max-width: 991px){
            width: 100%;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    
    }
    &__addedBy{
        padding-top: 10px;
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
        @media(max-width: 500px){
            padding-top:5px;
            font-size: 13px;
        }
    }
    &__cuisineType{
        width: 95%;
        padding-left: 15px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        @media(max-width: 500px){
            padding-left: 10px;
            font-size: 14px;
        }
    }
    &__address{
        width: 95%;
        padding-left: 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        @media(max-width: 500px){
            padding-left: 10px;
            font-size: 13px;
        }
    }
    &__about{
        width: 95%;
        padding: 15px;
        font-size: 15px;
        font-weight: 350;
        font-style: italic;
        @media(max-width: 500px){
            padding: 10px;
            font-size: 12.5px;
    
        }

    }
    &__icons{
        padding-bottom: 10px;
    }
    @media (max-width: 500px) {
        &__address {
          order: 1;
        }
    
        &__addedBy {
          order: 2;
        }
    
        &__cuisineType {
          order: 1;
          margin-top: 15px;
        }
    
        &__rightimage {
          order: 2;
        }
    
        &__about {
          order: 1;
        }
        &__icons {
            order: 2;
          }
        &__gradient-line{
            order:2;
        }
      }
}




.addedbyimg{
    background-color: #fec309;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    @media(max-width: 993px){
        height: 100px;
        width: 100px;
    }
    @media(max-width: 500px){
        height: 80px;
        width: 80px;
    }
}
#truck-line{
    width: 90%;
    background-image: linear-gradient(90deg, rgba(224, 228, 211, 0.891), rgba(245, 231, 39, 0.951));
}
.truck-icons {
    transition: transform .5s ease-in-out;
}

.truck-icons:hover {
    color: #fec309;
    transform: scale(1.5);
}
.aboutThisTruck-gradient-line{
    @media(max-width: 500px){
        margin-top:1em;
        margin-bottom:1em;
    }
}