.aboutimg {
    background-image: url(https://github.com/arupay/fspp-food-truck-app/assets/96318127/7e3cb4b2-6951-4b93-854e-e5edfb6c85b9);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    background-attachment: fixed;
    &__mask{
        background-color: rgba(83, 69, 69, 0.6);
        margin-top: 100px;
        width: 60%;
        align-self: center;
    }
    &__abouttext{
        font-style: oblique;
        letter-spacing: 1px;
        font-weight: 500;
    }
}
