// @import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-family: Helvetica;
}
body{
  margin: 0px;
}

.main {
  min-height: calc(100vh);
}


#truck {
  background-color: #052d44;
}

#truck-text {
  color: white;
}

.index-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fec309;
  height: 75px;
  background-color: #031a25;
  width: 100%;
}

.index-title-text{
  margin: 20px;
  box-sizing: border-box;
  display: block;
  font-size:19px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.nav-text {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:17px;
  color: #031a25;
}
.nav-text:hover{
  color: #fec309;
}
.checked {
  color: orange;
}
.fa-star-half-full{
  color: orange;
}
#reviews{
  margin-left: 3vh;
  color: rgb(234, 226, 226);
}


.card-no-border .comment {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px;
}

.comment-text:hover{
  visibility: visible;
}

.round img {
  border-radius: 100%;
}

.label-info {
  background-color: #1976d2;
}


.gm-style .gm-style-iw-c {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 200px !important;
  background: white;
  color: black;
  padding: 1em;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
  border: 2px solid #031a25;
  img {
    height:125px;
    border-radius: 5px;
  }
}
