* {
  font-family: Helvetica;
}

.borough-tag {
  position: absolute;
  top: 30px;
  right: -60px;
  transform: rotate(-315deg);
  background-color: #fec309;;
  color: #031a25;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
}

#truck {
  background-color: #052d44;;
}

#truck-text {
  color: white;
}


.index-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fec309;;
  height: 65px;
  color: #031a25;
  width: 100%;
  margin-bottom: 12px;
}

.index-title-text{
  margin: 0px;
  box-sizing: border-box;
  display: block;
  font-size:17px;
  letter-spacing: 2px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: uppercase;
}

.truck-title {
  font-size: 14px;
  font-weight: 900;
}
.trucks-index {
  text-align: center;
}
.checked {
  color: orange;
}
.fa-star-half-full{
  color: orange;
}
#reviews{
  margin-left: 3vh;
  color: grey;
}

.card {
  background: #052d44;
  border: 1px solid #010f16;
  color: #FFFFFF;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .3s;
  overflow: hidden;
}

.card:hover {
  transform:scale(1.1);
}

@media only screen and (min-width: 768px) {
  .trucks-index .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border: 2px solid #ffffff;
  }
}